html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#wrapper {
  display: flex;  /* use the flex model */
  height: 100vh;
  flex-direction: column;  /* learn more: http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/ */
}

#content {
  flex:1;
  height:100%;
  width:100%;
}

h3{
  color:#01579B;
}
#cliniccomponents{
  display: flex; /* or inline-flex */
}

#menu {
  z-index:10;
}
