html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#wrapper {
  display: flex;  /* use the flex model */
  height: 100vh;
  flex-direction: column;  /* learn more: http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/ */
}

#content {
  z-index:1;
  flex: 1;
  height: 100%;
  width: 100%;
}

#cliniccomponents{
  display: flex; /* or inline-flex */

}
#header{
}


#menu {
  padding:70px 10px 5px 5px;
  z-index:10;
}

#footer{
}
